@font-face {
  font-family: Poppin;
  src: url("./Poppins.ttf");
}


html{
  scroll-behavior: smooth;
}

body{
  width: 100vw;
  height: 100vh;
  background: #131418;
  font-family: Poppin;
  overflow: hidden;
}

#device-container::-webkit-scrollbar{
  width: 1px;
}

#device-container::-webkit-scrollbar-thumb{
  /* background: #4898f0; */
}


#virtualCardOvl::-webkit-scrollbar{
  width: 1px;
}

/* rmeove scrollbar */
.noScrollBar::-webkit-scrollbar{
  width: 1px;
}

.noScrollBar.showBar::-webkit-scrollbar-thumb{
  width: 3px;
  background: #43434370;
}


#payrill-spinner{
  animation:spinner .3s ease-in infinite;
  border-radius: 30px;
  transition: .1s all;
}

@keyframes spinner {
  0%{
    transform: rotate(0deg);
    transition: .1s all;
  }
/* 
  50%{
    transform: rotate(160deg);
  } */

  100%{
    transform: rotate(360deg);
    transition: .1s all;
  }
}